.Login-body{
    background-image: linear-gradient(120deg, #6e2244, #2167aff5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -5%;
    display: flex;
    height: 105vh;
    justify-content: center;
    align-items: center;
}

.box, .box-loading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.39);
    justify-content: center;
    align-items: center;
    padding: 2% 2%;
    border-radius: 12px;
    background-color: rgb(255 255 255 / 4%);/* Semi-transparent white */
    backdrop-filter: blur(20px); /* Blur effect */
    width: 20%;
   transition: box-shadow .3s ease,transform 0.3s ease-in-out, border 0.3s ease;
   
}

.box-loading{
    padding: 1rem 1rem;
}

.box:hover {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    transform: translateY(5px);
    border: 2px solid white;
}

.box:hover .profile-img-circle{


    border: 2px solid white;
}

.inputClass{
    height: 2.6rem;
    background-color: transparent;
    border-bottom: 1px solid white; /* Optional: Add a bottom border for visual distinction */
    border: 2px solid rgba(255, 255, 255, 0.39);
    border-radius:  12px;
    color: white; 
    padding: 2px 6px;
    outline: none;
    width: 255px;
    font-size: 1.2rem;
    transition: border .3s ease;
}

.inputClass:hover{
    border: 2px solid white;
}

.inputClass::placeholder{
    padding: 2px 6px;
    color: white;
}

.Login-heading{
    color: white;
}

.Submit-btn{
    background-color: transparent;
    background: rgba(25, 121, 218, 0.429);
    color: white;
    padding: 4px 4px;
    width: 150px;
    font-size: 15px;
    height: 35px;
    border-radius: 12px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.39);
    transition: background 0.3s ease-in-out, border 0.3s ease;
    
}

.Submit-btn:hover{
    background: rgb(19, 113, 221);
    border: white;
}

.HR{
    border: 1px solid rgba(255, 255, 255, 0.39);
    width: 90%;
}

.Text{
    color: white;
}

.Link{
    text-decoration: underline;
    color: white;
    margin: 1px 12px;
    transition: color 0.3s ease-in-out;
}

.Link:hover{
    color: blue;

}
.margin{
    margin-top: 2rem;
}