/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  margin: 0 0;
  padding: 0 0;
  /* background-color: ; */
  /* background-image: linear-gradient(90deg, blue,purple); */


}

body{
  
    margin: 0;
    padding: 0;
    /* background-color: ; */
    /* background-image: linear-gradient(120deg, #007bff, #0862bc); */
    /* height: 300%; */

}


/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #0000007d; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track when the mouse is over it */
::-webkit-scrollbar-track:hover {
  background-color: #ff0505; /* Color of the scrollbar track on hover */
}
::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent background */
  border-radius: 0; /* No border radius */
  width: 0;  /* Border radius for the scrollbar track */
}
/* Style the scrollbar thumb when the mouse is over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #fa1b1b; /* Color of the scrollbar thumb on hover */
}

/* Style the scrollbar thumb when it is pressed */
::-webkit-scrollbar-thumb:active {
  background-color: #ff2020; /* Color of the scrollbar thumb when pressed */
}

.centering , .body{
  /* height: 100vh; */
  /* width: 100vw; */
  padding: 0.6rem 6rem;
  display:  flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

body{
  background-image: linear-gradient(120deg, #6e2244, #2167aff5);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.centering1{

  display:  flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
